version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: nhit-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: shristi
      POSTGRES_DB: nhit_db
      PGPORT: 5433
    ports:
      - "5433:5433"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  kafka:
    image: bitnami/kafka:3.7
    container_name: nhit-kafka
    environment:
      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CFG_LISTENERS: PLAINTEXT://:29092,CONTROLLER://:9093,EXTERNAL://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER
      KAFKA_CFG_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE: "true"
    ports:
      - "9092:9092"
    networks:
      - nhit-network

  user-service:
    build:
      context: .
      dockerfile: services/user-service/Dockerfile
    container_name: nhit-user-service
    environment:
      SERVER_PORT: "50051"
      DB_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      JWT_SECRET: "your-secret-key-here"
    ports:
      - "50051:50051"
    depends_on:
      - postgres
    networks:
      - nhit-network

  auth-service:
    build:
      context: .
      dockerfile: services/auth-service/Dockerfile
    container_name: nhit-auth-service
    environment:
      SERVER_PORT: "50052"
      DB_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      JWT_SECRET: "your-secret-key-here"
      JWT_EXPIRY: "15m"
      REFRESH_TOKEN_EXPIRY: "168h"
      USER_SERVICE_URL: "user-service:50051"
      AZURE_TENANT_ID: "8d546726-75b2-4489-9674-aee204099f14"
      AZURE_CLIENT_ID: "fb7fd1d1-aac0-442b-8de2-6a0b7fdf3447"
      AZURE_CLIENT_SECRET: "e188Q~CXsd9uwO79ocnLz_39yli1dRYtiogBUaLR"
      AZURE_REDIRECT_URL: "http://localhost:8083/api/v1/auth/sso/callback"
    ports:
      - "50052:50052"
    depends_on:
      - postgres
      - user-service
    networks:
      - nhit-network

  organization-service:
    build:
      context: .
      dockerfile: services/organization-service/Dockerfile
    container_name: nhit-organization-service
    environment:
      SERVER_PORT: "50053"
      DB_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      USER_SERVICE_URL: "user-service:50051"
    ports:
      - "50053:50053"
    depends_on:
      - postgres
      - user-service
    networks:
      - nhit-network

  department-service:
    build:
      context: .
      dockerfile: services/department-service/Dockerfile
    container_name: nhit-department-service
    environment:
      SERVER_PORT: "50054"
      DB_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      USER_SERVICE_URL: "user-service:50051"
    ports:
      - "50054:50054"
    depends_on:
      - postgres
      - user-service
    networks:
      - nhit-network

  designation-service:
    build:
      context: .
      dockerfile: services/designation-service/Dockerfile
    environment:
      DATABASE_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      PORT: "50055"
    ports:
      - "50055:50055"
    depends_on:
      - postgres
    networks:
      - nhit-network


  project-service:
    build:
      context: .
      dockerfile: services/project-service/Dockerfile
    container_name: nhit-project-service
    environment:
      DATABASE_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      PORT: "50057"
      KAFKA_BROKERS: "kafka:29092"
    ports:
      - "50057:50057"
    depends_on:
      - postgres
    networks:
      - nhit-network

  vendor-service:
    build:
      context: .
      dockerfile: services/vendor-service/Dockerfile
    container_name: nhit-vendor-service
    environment:
      DATABASE_URL: "postgres://postgres:shristi@postgres:5433/nhit_db?sslmode=disable"
      USER_SERVICE_URL: "user-service:50051"
      PROJECT_SERVICE_URL: "project-service:50057"
      AUTH_SERVICE_URL: "auth-service:50052"
    ports:
      - "50058:50058"
      - "8084:8084"
    depends_on:
      - postgres
      - user-service
      - auth-service
    networks:
      - nhit-network

#   api-gateway:
#     build:
#       context: .
#       dockerfile: services/api-gateway/Dockerfile
#     container_name: nhit-api-gateway
#     environment:
#       SERVER_PORT: "8080"
#       USER_SERVICE_URL: "user-service:50051"
#       AUTH_SERVICE_URL: "auth-service:50052"
#       ORG_SERVICE_URL: "organization-service:50053"
#       DEPT_SERVICE_URL: "department-service:50054"
#       DESIGNATION_SERVICE_URL: "designation-service:50055"
#       VENDOR_SERVICE_URL: "vendor-service:50058"
#       PROJECT_SERVICE_URL: "project-service:50057"
#     ports:
#       - "8080:8080"
#     depends_on:
#       - user-service
#       - auth-service
#       - organization-service
#       - department-service
#       - designation-service
#       - project-service
#       - vendor-service
#     networks:
#       - nhit-network

volumes:
  postgres_data:

networks:
  nhit-network:
    driver: bridge
